Welcome to our python refresher!

Let's review the data structures quickly

List is an array of heterogeneous data. You can store anything in a list. They are represented by square [ ] brackets.

In [ ]:
mylist = [ 1, False, '42', 'cattlestar galactica',0.0, 42]

List is ordered and indexed

In [ ]:
mylist[0], mylist[-1] #indexing makes it possible!

(1, 42)

You can modify a list

In [ ]:
mylist[0] = 0
mylist.append('bye bye')
mylist

[0, False, '42', 'cattlestar galactica', 0.0, 42, 'bye bye']

You may recall 'Sets' from mathematics. In a set, every value is unique and mentioned only once. Sets are represented by curly braces { }. A set of {banana, apple} is same as a set of {apple, banana}.

In [ ]:
myset = {'apple', 'banana', 'apple', 42, 42}
myset

{42, 'apple', 'banana'}

Observation- is set indexed and ordered?

Now observe the following action-

In [ ]:
myset = set(mylist)
myset

{0, 42, '42', 'bye bye', 'cattlestar galactica'}

Where did False go? Where is 0.0? Why do you think this happened?

Tuples are readonly structures. Once created, they cannot be edited. Sets are represented by round ( ) brackets.

In [ ]:
mytup = (1,2,3)
mytup

(1, 2, 3)

Tuples are indexed and ordered too!

In [ ]:
mytup[-2]

2

below line should throw us an exception

In [ ]:
try:
  mytup[0] = 2
except Exception as ex:
  print(ex)

'tuple' object does not support item assignment

Dictionaries are sets of key-value pairs. They are indexed unlike sets- the keys serve as index and belong to any data type.

In [ ]:
myvocab = { "hello": "world",
           "a list": mylist,
           42 : -42,
           True: "okay",
           False : 0}
myvocab[False]

0

In [ ]:
myvocab['a list']

[0, False, '42', 'cattlestar galactica', 0.0, 42, 'bye bye']

Data structures can accept other data structures as their elements!

In [ ]:
complex_list = [mylist, mytup, myset]

In [ ]:
complex_list[-1]

{0, 42, '42', 'bye bye', 'cattlestar galactica'}

Well, all except the set

In [ ]:
try:
  mycomplexset = {mytup, mylist}
except Exception as ex:
  print(ex)

unhashable type: 'list'

Lambda functions are 1 line executions!


Syntax is->

lambda input: what_to_return

In [ ]:
squares = lambda val: val ** 2

In [ ]:
squares(10)

100

You can combine lambdas with regular functions to generate multiple functions with same logic. In the below example, we create 3 fake currencies with different exchange rates.

In [ ]:
def currency(exchange_rate):
  return lambda val: val*exchange_rate

In [ ]:
imaginary_dollar1 = currency(42) #exchange rate 42
imaginary_dollar2 = currency(10) #exchange rate 10
imaginary_dollar3 = currency(0.1) #exchange rate 0.1

Now let's see what's our $100 in these 3 imaginary currencies

In [ ]:
original_usd_value = 100

In [ ]:
imaginary_dollar1(original_usd_value)

4200

In [ ]:
imaginary_dollar2(original_usd_value)

1000

In [ ]:
imaginary_dollar3(original_usd_value)

10.0

List comprehensions can combine with lambdas to transform data.

In [ ]:
initlist = [ 1, 2, 3, 4, 5]
logic = lambda val: val**2 #square of the number
newlist = [ logic(item) for item in initlist]
newlist

[1, 4, 9, 16, 25]

Let's try one more example.

In [ ]:
city_names = {
    "Egypt": "Cairo" ,
    "South Africa" : "Cape Town",
    "Ireland" : "Dublin",
    "Japan" : "Tokyo"
}

Just like lists, we can apply comprehensions on dictionaries too! For exmaple, we could reverse a dictionary by using the following:

In [ ]:
country_names = { city:country for country,city in city_names.items()}

In [ ]:
country_names

{'Cairo': 'Egypt',
 'Cape Town': 'South Africa',
 'Dublin': 'Ireland',
 'Tokyo': 'Japan'}

This was a very quick recap of some of the must-know and important utilities.