Our objective in this lab is to understand the Python toolkit available to us for Data Analytics activities. The two libraries we are going to focus on are:



*   NumPy
*   Pandas

Let's first import numpy.

In [1]:
import numpy as np

Define a Python list containing the ages of 6 customers.

In [2]:
ages = [40, 35, 18, 32, 65, 43]
print(ages)

[40, 35, 18, 32, 65, 43]

How do we instantiate a Numpy ndarray object? HINT: using `np.array(<collection>)`

In [3]:
ages = np.array(ages)
print(type(ages))
print(ages)

<class 'numpy.ndarray'>
[40 35 18 32 65 43]

Size helps us finds the number of elements, while the shape describes the layout of the data. For example, if we have a 2X2 matrix, the size would be 4 while shape would be (2,2)

In [4]:
names=['Bob', 'Tim', 'Arshad', 'Joanna', 'Michelle','Mo']
customers = np.array([names, ages])
print("Size:\t" , customers.size)
print("Shape:\t", customers.shape)

Size:	 12
Shape:	 (2, 6)

Numpy can also generate an array containing all 0s! Why would we have such a thing? Well, it helps in counters and in machine learning activities.

In [5]:
zeroArr = np.zeros(5)
print(zeroArr)

[0. 0. 0. 0. 0.]

You can change the shape of the data and its layout, using the reshape function.

In [6]:
#Let's reshape the array:
people = customers.reshape(4,3)

Now print the size and shape again. 
###### Note: The new shape must be the same "size" as the old shape

In [7]:
print("People:\t" , people)
print("Size:\t" , people.size)
print("Shape:\t", people.shape)

People:	 [['Bob' 'Tim' 'Arshad']
 ['Joanna' 'Michelle' 'Mo']
 ['40' '35' '18']
 ['32' '65' '43']]
Size:	 12
Shape:	 (4, 3)

Instead of defining an array manually, create an array with numpy.

HINT: The `np.arange()` method creates a range of numbers with user defined steps between each.

In [8]:
five_times_table = np.arange(0, 55, 5)
five_times_table

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

Let's try out operations on arrays. Below, we have an array by name 'table'.

In [9]:
table= np.arange(0, 55, 5)

In [10]:
#Print the multiplication of 2 on table array.
print("1:", 2 * table)
#Print the addition of 10 to table array.
print("2:", 10 + table)
#Print the subtraction of 1 from table array.
print("3:", table - 1)
#Print the division of 5 with table array.
print("4:", table/5)
#Print the square of table array.
print("5:", table **2)
#Print true if the element is greater than 10.
print("6:", table < 20)

1: [  0  10  20  30  40  50  60  70  80  90 100]
2: [10 15 20 25 30 35 40 45 50 55 60]
3: [-1  4  9 14 19 24 29 34 39 44 49]
4: [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
5: [   0   25  100  225  400  625  900 1225 1600 2025 2500]
6: [ True  True  True  True False False False False False False False]

Sometimes the data is not readble as-it-is. For example, due to human/tool error, we may read numbers as strings.

What is the data type of the below ndarray?

In [11]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
ages_with_strings

#answer
ages_with_strings.dtype

dtype('<U21')

What is the dtype of this array?

In [12]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'], dtype='int32')
ages_with_strings

#answer
ages_with_strings.dtype

dtype('int32')

We have an array named ops, Lets perform operations on it.

In [13]:
ops= np.arange(0, 55, 5)
print(ops)

[ 0  5 10 15 20 25 30 35 40 45 50]

Print the first 4 element of the array

In [14]:
ops[:4]

array([ 0,  5, 10, 15])

Print everything but the first 4 element of the array

In [15]:
ops[4:]

array([20, 25, 30, 35, 40, 45, 50])

We can also slice an n-dim ndarray., specifying the slice operation accross each axis.

In [16]:
print(people)
print('********')
print(people[-1:, :2])

[['Bob' 'Tim' 'Arshad']
 ['Joanna' 'Michelle' 'Mo']
 ['40' '35' '18']
 ['32' '65' '43']]
********
[['32' '65']]

Numpy also supports rounding off

In [17]:
np.array([1.65432, 5.98765]).round(2)

array([1.65, 5.99])

Let's work on statistics now. We have an array 'numbers'

In [18]:
numbers = np.arange(0, 4, 0.2555)

Compute min, max, sum, mean, median, variance, and standard deviation of the above array, all to to 2 decimal places.

In [19]:
print("min = ", np.min(numbers).round(2))
print("max = ", np.max(numbers).round(2))
print("sum = ", np.sum(numbers).round(2))
print("mean = ", np.mean(numbers).round(2))
print("median = ", np.median(numbers).round(2))
print("var = ", np.var(numbers).round(2))
print("std = ", np.std(numbers).round(2))

min =  0.0
max =  3.83
sum =  30.66
mean =  1.92
median =  1.92
var =  1.39
std =  1.18

## Random

Randomness helps with probability and generating seeds for encryptions. Assume you flip a coin 10 times- each time you could recieve tail (0) or head (1).

In [20]:
flip = np.random.choice([0,1], 10)
flip

array([0, 0, 0, 1, 1, 0, 1, 0, 1, 1])

We can quickly generate multi-dimensional random numbers!

In [21]:
np.random.rand(4,3,2)

array([[[0.77237975, 0.95850579],
        [0.76126618, 0.62520276],
        [0.99827949, 0.81046051]],

       [[0.29554283, 0.29378864],
        [0.46415235, 0.4869662 ],
        [0.55486017, 0.11448782]],

       [[0.17999812, 0.13295701],
        [0.49194878, 0.44774085],
        [0.76940284, 0.61425534]],

       [[0.36202266, 0.42986747],
        [0.98922656, 0.26115411],
        [0.81097856, 0.65234085]]])

Produce 1000 datapoints of a normally distributed data set.

HINT: `np.random.normal()`

In [22]:
mu, sigma = 0, 0.1 # mean and standard deviation
s = np.random.normal(mu, sigma, 1000)

In [23]:
import pandas as pd

In [24]:
path = 'chipotle.tsv'

chipo = pd.read_csv(path, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Business Query: How many 1-item orders cost more than $10.00?

In [25]:
# clean the item_price column and transform it in a float
prices = [float(value[1 : -1]) for value in chipo.item_price]

# reassign the column with the cleaned prices
chipo.item_price = prices

In [26]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [27]:

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [28]:

chipo_one_prod.query('item_price > 10').item_name.nunique()

25

What is the average price of each item? 
###### HINT: print a data frame with only two columns item_name and item_price

In [29]:

# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# perform a grouping along the item names
price_per_item = price_per_item.groupby(['item_name'], sort=True)['item_price'].mean()

price_per_item.head(10)

item_name
6 Pack Soft Drink         6.490000
Barbacoa Bowl            10.227959
Barbacoa Burrito          9.979577
Barbacoa Crispy Tacos    10.171000
Barbacoa Salad Bowl      10.778889
Barbacoa Soft Tacos      10.380000
Bottled Water             1.090000
Bowl                      7.400000
Burrito                   7.400000
Canned Soda               1.090000
Name: item_price, dtype: float64

Sort by the name of the item

In [30]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

What was the quantity of the most expensive item ordered?

In [31]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

How many times was a Veggie Salad Bowl ordered?

In [32]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

How many times did someone order more than one Canned Soda?

In [33]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20

Phew! There are so many functions in pandas and numpy! But they make our life easy. We can get a full list of available functions using dir command

In [34]:
print(dir(pd.DataFrame))

['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_arith_method', '_as_manager', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_sliced', '_convert', '_count_level', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [35]:
# we can filter this data to get all useful function
all_panda_fns = dir(pd.DataFrame)
without_ = lambda fnname: fnname if '_' not in fnname else None
clean_names = [ without_(fn) for fn in all_panda_fns]
clean_names = list(filter(None, clean_names))

In [36]:
print(clean_names)

['T', 'abs', 'add', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'attrs', 'axes', 'backfill', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'compare', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pipe', 'pivot', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'rename', 'replace', 'resample', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'sem', 'shape', 'shift', 'size', 'skew', 'sparse', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'unstack', 'update', 'values', 'var', 'where', 'xs']

There are lot of special functions in pandas- like describe

In [37]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

We can take a 'Transpose' of our matrix to make it easier to read the specific stats.

In [38]:
chipo.describe().T

,count,mean,std,min,25%,50%,75%,max
order_id,4622.0,927.254868,528.890796,1.00,477.25,926.00,1393.00,1834.00
quantity,4622.0,1.075725,0.410186,1.00,1.00,1.00,1.00,15.00
item_price,4622.0,7.464336,4.245557,1.09,3.39,8.75,9.25,44.25

For instance, selecting mean of all the columns becomes easier.

In [39]:
chipo.describe().T['mean']

order_id      927.254868
quantity        1.075725
item_price      7.464336
Name: mean, dtype: float64

Pandas can also help us slice-and-dice the data with help of LOC and ILOC functions.

In [40]:
# loc filters by location name
chipo.loc[:5, ['order_id','quantity']]

   order_id  quantity
0         1         1
1         1         1
2         1         1
3         1         1
4         2         2
5         3         1

In [41]:
# iloc filters by index of the location
chipo.iloc[:5 , :2]

   order_id  quantity
0         1         1
1         1         1
2         1         1
3         1         1
4         2         2

Observe how in iloc we have values excluding our limit, while in loc including our limit.